body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

      .Poeme {
        width: 50%;
        background-color: #FFF; 
        border: 5px solid black
        
        }
       html {
            font-family: Verdana;
            text-align: center;
        }

        
        ul {
            background-color: #111;
            display: flex; 
            justify-content: center; 
        }


        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none; <!-- enlever les soulignes-->
        }


        li a:hover {
            background-color: #333;
        }
